<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MultiFaceRec.Properties.Settings.TestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Test.accdb;Jet OLEDB:Database Password=harvz"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>